<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RemarkCustomMapper">
<select id="selectRemarkpage" parameterType="com.example.pojo.RemarkCustom" 
resultType="com.example.entity.Remark">
		select * from remark
		<if test="forumId != null">
			<where>
				forumId = #{forumId} 
			</where>
		</if>
		order by createTime desc
		<include refid="pageSQL"></include>
	</select>
	
	<sql id="pageSQL">
		<if test="page.beginIndex!=null and page.endIndex != null">
				limit ${page.beginIndex},${page.endIndex}
		</if>
	</sql>
</mapper>