<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
 
    <resultMap id="BaseResultMap" type="com.example.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column ="accid" jdbcType="VARCHAR" property="accid"/>
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="signDesc" jdbcType="VARCHAR" property="signDesc" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>
 
    <select id="selectAccid" resultType="com.example.entity.User">
        select * from user where accid = #{accid};
    </select>
    <select id="selectUsername" resultType="com.example.entity.User">
        select *from user where username = #{username};
    </select>
    <select id="selectId" resultType="com.example.entity.User">
        select *from user where id=#{id};
    </select>
    
    <insert id="insert" parameterType="com.example.entity.User">
         insert into user 
         (id, accid,username,password,sex,birthday,
         phone,province,city,signDesc,email) 
         values 
         (#{id,jdbcType=INTEGER}, #{accid,jdbcType=VARCHAR},
          #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},
       #{signDesc,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
    </insert>
    
    <update id ="updateUser" parameterType="com.example.entity.User">
    update user set 
    accid=#{accid},password=#{password},sex=#{sex},
    birthday=#{birthday},phone=#{phone},province=#{province},
    city=#{city},signDesc=#{signDesc},email=#{email}
    where id=#{id}
    </update>
    
    
    
    
 
</mapper>